<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th class="checkbox-cell">
                    <input type="checkbox" name="select-all">
                </th>
                {% for header in table_columns %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% include 'admin/model/components/table_content.html' %}
        </tbody>
    </table>
</div>

{% include 'admin/model/components/pagination.html' %}