<!-- Model List with HTMX -->
<div id="model-list">
    <div class="table-container">
        <table id="data-table" class="table">
            <thead>
                <tr>
                    <th></th>
                    {% for header in table_columns %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for row in model_items %}
                    <tr>
                        <td class="checkbox-cell"><input type="checkbox" name="rowSelect"></td>
                        {% for attribute in row.values() %}
                            <td>{{ attribute }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'admin/model/components/pagination.html' %}
</div>