{% extends "base/base.html" %}

{% block title %}Create {{ model_name }}{% endblock %}

{% set include_sidebar_and_header = True %}

{% block content %}
<div class="create-user-form">
    <h1 class="centered-heading">Create {{ model_name }}</h1>
    <form method="post" action="/admin/{{ model_name }}/form_create" enctype="multipart/form-data">
        {% for field in form_fields %}
            <div class="form-group">
                <label for="{{ field.name }}">
                    {{ field.title | default(field.name) | capitalize }}
                    {% if field.required %}<span class="required">*</span>{% endif %}
                </label>
                <input
                    type="{{ field.type }}" 
                    id="{{ field.name }}" 
                    name="{{ field.name }}"
                    {% if field.required %}required{% endif %}
                    {% if field.min_length %}minlength="{{ field.min_length }}"{% endif %}
                    {% if field.max_length %}maxlength="{{ field.max_length }}"{% endif %}
                    {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
                    {% if field.type == 'number' and field.min %}min="{{ field.min }}"{% endif %}
                    {% if field.type == 'number' and field.max %}max="{{ field.max }}"{% endif %}
                    placeholder="{{ field.examples | first | default ('Enter ' + field.title | default(field.name) | capitalize) }}">
                {% if field.description or field.examples %}
                <small class="help-text">
                    {% if field.description %}{{ field.description }}{% endif %}
                </small>
                {% endif %}
            </div>
        {% endfor %}
                <div class="form-submit">
                    <button type="submit" class="submit-btn">Create {{ model_name }}</button>
                </div>
                {% if error %}
                    <div class="error-message">{{ error }}</div>
                {% endif %}
    </form>
</div>
{% endblock %}