{% extends "base/base.html" %}

{% block title %}Model Administration{% endblock %}

{% set include_sidebar_and_header = True %}

{% block content %}
<div class="admin-content">
    <h1 class="centered-heading">{{ model_name }} Administration</h1>

    <!-- Unified Form for search and column selection with HTMX attributes -->
    <form method="get" hx-get="/admin/{{ model_name }}/get_model_list" hx-target="#model-list" hx-trigger="keyup from:#search-input delay:500ms">
        <div class="search-and-actions">
            <!-- Column Select Dropdown, no onchange event to trigger form submission -->
            <div class="column-select">
                <select name="column-to-search-select" id="column-select">
                    {% for header in table_columns %}
                    <option value="{{ header }}" {% if selected_column == header %}selected{% endif %}>
                        {{ header }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Search Input -->
            <div class="search-form">
                <input type="text" id="search-input" name="search" placeholder="Search...">
            </div>

            <!-- Add Model Button aligned to the right -->
            <a href="/admin/{{ model_name }}/create" class="add-model-button" hx-get="/admin/{{ model_name }}/create_page" hx-target="body">Add {{ model_name }}</a>
        </div>
    </form>

    <!-- HTMX updated Model List -->
    <div id="model-list">
        {% include 'admin/model/components/list_content.html' %}
    </div>
</div>
{% endblock %}
